[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "latdiag"]
	path = latdiag
	url = https://github.com/cran/latdiag
	shallow = true
	registered = true
[submodule "metap"]
	path = metap
	url = https://github.com/cran/metap
	shallow = true
	registered = true
